// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.square {
  background-color: #3ab1e0;
  border: 2px solid #2b63b6;
  box-shadow: 1px 1px 5px rgb(99, 99, 99);
  width: 48px;
  // height: 32px;
  padding: 0px 24px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
  color: azure;
  font-size: 40px
  
}